<!DOCTYPE html>
<html>

<head>
  <title>Minhas Dívidas</title>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/lib/tether/dist/css/tether.min.css">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <style>
    body {
      margin-top: 100px;
    }
  </style>
</head>

<body>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/tether/dist/js/tether.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>

    <<<RIOT>>>

</body>

</html>
